container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: BubbleUpServer.settings
  aws:elasticbeanstalk:application:environment:
    CONFIG_PATH_TYPE: S3
  aws:elasticbeanstalk:application:environment:
    CONFIG_BUCKET: elasticbeanstalk-eu-west-1-802111265375
  aws:elasticbeanstalk:application:environment:
    CONFIG_KEY: BubbleUpServerConfig/bubbleup-config.json