files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/applogs.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/httpd/bubble.log
      /var/log/httpd/schedule-bubble.log
  "/var/log/httpd/bubble.log" :
    mode: "000755"
    owner: wsgi
    group: wsgi
    content: |
      # Main BubbleUp app log file
  "/var/log/httpd/schedule-bubble.log" :
    mode: "000755"
    owner: wsgi
    group: wsgi
    content: |
      # Scheduled tasks log for BubbleUp app